
*{	/** to remove any default margin and padding **/
	margin:0px;
	padding:0px;
	}
	
body{
	text-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	}
	
header, nav, section{
	display:block;
	}

#big_wrapper{
	margin:0px;
	padding:0px;
	max-width:1351px;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	}
	
header{  
	height:45px;
	margin:0px;
	padding:0px;
	border:0px;
	background-color: #2d2d2a;
	-webkit-box-flex:1;
		}
		
#top-header{
	display:-webkit-box;
	-webkit-box-align:center;
	width:1351px;
	}
	
header p {
	color:#e72b1f;
	font: 15px Helvetica;
	padding:3px 10px 10px 10px;
	display:inline-block;
	position:relative;
	}

#top-header-info{
	width: 800px;
	height:40px;
	position:relative;
	margin-left:320px;
		}
		
#top-header-info-div{
	height:25px;
	display:inline-block;
	background-color:#232321;
	margin-left:60px;
	margin-top:5px;
	position:relative;
	}

#middle-header{
	width:550px;
	position:absolute;
	}
	
#header-stamp{
	width:200px;
	float:right;
	margin-top:15px;
	-webkit-transform:rotate(5deg);
	position:absolute;
	z-index:10;
	}
	
#ted-logo{
	width:300px;
	height:120px;
	background-color:#ffffff;
	margin-left:80px;
	position:absolute;
	-webkit-box-shadow:rgba(110,110,110,0.6) 1px 1px 1px;
	z-index:10;
	}
	
/**#nav-menu{ to change the position of the navigation menu items
	width:800px;
	margin-left:250px;
	}**/
#top-menu{
	width:1351px;
	height:40px;
	background-color:#ffffff;
	-webkit-box-shadow:rgba(0,0,0,0.4) 0px 2px 6px;
	position:relative;
	z-index:0;
		}
	
#top-menu li{
	display:inline-block;
	padding:12px 10px 30px 30px;
	font: 14px Helvetica;
	list-style:none;
	text-decoration:none;
	}
#top-menu li a {
	text-decoration:none;
	}

#nav-menu> ul> .current> a {
	color:#000000;
	}
#nav-menu> ul> .current> a:hover{
	color:#e72b1f;
	text-decoration:underline;
	}
#nav-menu> ul> .subnav> a{
	color:#8d8d85;
	}
#nav-menu> ul> .subnav> a:hover{
	color:#e72b1f;
	text-decoration:underline;
	}
	
#main-section{
	width:1351px;
	height:600px;
	margin-bottom: 20px;
	z-index:-2;
	}

#slider-shadow{
	width:1351px;
	height:1px;
	background-color:transparent;
	margin-top:-5px;
	-webkit-box-shadow:rgba(0,0,0,1) 0px 3px 10px;
	position:absolute;
	z-index:9;
	}
	
#section2{
	width:1349px;
	height:150px;
	margin-bottom: 0px;
	margin-top:-135px;
	position:absolute;
	z-index:12;
	}
#section2-container>div{
	display:inline-block;
	}
#section2-container{
	width:1349px;
	height:150px;
	}
.info-1{
	width:351px;
	height:120px;
	background-color:#FFFFFF;
	opacity:0.85;
/**	background-color:#231f20; **/
	color:#000000;
	margin:0px 30px 0px 30px;
	font:15px Helvetica;
	}
.info-head{
	font:bold 30px Tahoma;
	color:#2f2f2f;
	}
.info-text{
	padding:5px 0px 5px 0px;
	/**color:#e62a1e;**/
	}	
	

/******************** Footer ***********************/
#footer-1{
	width:1351px;
	height:275px;
	background-color:#2d2d2a;
	border-top: 3px solid #e72b1f;
	}
	
#footer-2{	
	width:1351px;
	height:100px;
	background-color:#3d3d39;
	}

#footer-links{
	display:inline-block;
	float:left;
	}

.link-head{
	float:left;
	text-align:left;
	}
	
.link-head p {
	display:inline-block;
	color:#ff2b06;
	font:bold 16px Tahoma;
	margin-top:40px;
	margin-left:100px;
	}
	
#link-items{
	display:block;
	position:absloute;
	}
	
.ted-link-items{
	position:relative;
	margin-top:80px;
	margin-left:100px;
	}
	
.ted-link-items li{
	display:block;
	text-align:left;
	color:#8d8d85;
	font: 17px Tahoma;
	margin-top:10px;
	margin-bottom:10px;
	}
	
.tedxiitbhu-link-items{
	position:relative;
	display:inline-block;
	float:left;
	margin-left:285px;
	margin-top:-100px;
	}
	
.tedxiitbhu-link-items li{
	display:block;
	text-align:left;
	color:#8d8d85;
	font: 17px Tahoma;
	margin-top:10px;
	margin-bottom:10px;
	}

#social-icons{
	display:inline-block;
	float:left;
	margin-left:100px;
	margin-top:10px;
	}
	
.email-icon:hover{
	opacity:0.5;
	}
.facebook-icon:hover{
	opacity:0.5;
	}
.twitter-icon:hover{
	opacity:0.5;
	}
.youtube-icon:hover{
	opacity:0.5;
	}
	
#footer-logo{
	width:600px;
	float:right;
	margin-top:40px;
	}
	
.copyright{
	display:inline-block;
	float:left;
	text-align:left;
	font: 14px Tahoma;
	color:#8d8d85;
	margin-left:100px;
	margin-top:25px;
	}

/*********************** About Page ***********************/
#about-section{
	width:1351px;
	height:auto;
	z-index:-2;
	margin-bottom:40px;
	}
#about-section>div{
	display:inline-block;
	}

#about-ted{
	width:500px;
	height:250px;
	margin-top:80px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:50px;
	border: 1px solid #c3c3c3;
	}
#about-tedx{
	width:500px;
	height:250px;
	margin-top:80px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:50px;
	border:1px solid #c3c3c3;
	}
#tedxiitbhulive{
	width:1070px;
	height:600px;
	border:1px solid #c3c3c3;
	}
#about-head{
	color:#ff2b06;
	font:bold 40px Helvetica;
	}
#about-text{
	background-color:#d3d3d3;
	text-align:justify;
	font:14px Helvetica;
	padding:15px;
	}
.tedx_head{
	margin-top:20px;
	text-align:center;
	font:bold 20px Helvetica;
	display:inline-block;
	}
.about_image{
	height:274px;
	float:left;
	margin-right:30px;
	border:1px solid #d3d3d3;
	}
	
/*********************** Registration Form****************/
#formtag{
	font:16px Tahoma;
	padding-top:30px;
	margin-left:150px;
	}

#formtag input{
	height:25px;
	border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
		}
		
#formtag input:focus{
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
}
	

#regform{
	width:951px;
	height:600px;
	background-color:#d3d3d3;
	margin-left:200px;
	}
	
.regdiv{
	display:inline-block;
	width:150px;
	
	}
.input-box{
	width:200px;
	height:100px;
	}
	
#regform > ul{
	display:block;

	}
#regform li{
	text-align:left;
	list-style:none;
	padding:10px;
	display:block;
	}
	
#submit-button{
	text-align:left;
	margin-left:160px;
	margin-top:30px;
	}
	
#reg-heading{
	padding-top:50px;
	font: bold 40px Helvetica;
	text-align:center;
	}

.submit_button{
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
	}
.submit_button:hover {
	opacity:.85;
	cursor: pointer; 
}
.submit_button:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
	}
	
/*********************** Theme Page ***********************/
#theme-section{
	height:auto;
	margin-bottom:20px;
	z-index:-2;
	}
.container_24{
	display:inline-block;
	margin-top:80px;
	z-index:-2;
	}
	
.container_24>div{
	}

.theme_image{
	height:274px;
	float:left;
	margin-right:30px;
	}
	
#ted_2014{
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	border-left:none;
	border-right:none;
	margin:12px;
	width:1120px;
	}

#tedxiitbhu_theme{
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	border-left:none;
	border-right:none;
	margin:12px;
	width:1120px;
	}

.theme{
	text-align:justify;
	}
.theme_head{
	margin-top:20px;
	text-align:center;
	font:bold 32px Helvetica;
	display:inline-block;

	}
.theme_text{
	margin-top:20px;
	margin-right:20px;
	font:16px Tahoma;
	}
.theme_text_tedxiitbhu{
	margin-top:20px;
	margin-right:20px;
	padding-left:20px;
	margin-bottom:30px;
	font:16px Tahoma;
}

/*********************** Team Page ***********************/
#team-section{
	width:1351px;
	margin-top:30px;
	}
#team-heading{
	position:relative;
	font: bold 36px Helvetica;
	text-align:center;
	}
#team-pic-container{
	width:1151px;
	height:1700px;
	/**border:1px solid black;**/
	margin-left:100px;
	margin-top:50px;
	}
#pic-container{
	width:1151px;
	height:350px;
	/**border:1px solid black;**/
	margin-bottom:65px;
	}
#pic-container div{
	display:inline-block;
	}
#pic-container-2 div{
	display:inline-block;
	}
#pic-container-3 div{
	display:inline-block;
	}
#pic-container-4 div{
	display:inline-block;
	}
	
.pic11{
	width:200px;
	height:300px;
	/**border:1px solid black;**/
	margin-left:40px;
	margin-right:40px;
	}
.pic-text{
	background-color:#000000;
	width:195px;
	text-align:left;
	color:#FFFFFF;
	padding-left:5px;
	font:15px Tahoma;
	}
.pic-name{
	color:#e62a1e;
	font:bold 17px Helvetica;
	}
.pic12{
	width:200px;
	height:300px;
	/**border:1px solid black;**/
	margin-left:40px;
	margin-right:40px;
	}
.pic13{
	width:200px;
	height:300px;
	/**border:1px solid black;**/
	margin-left:40px;
	margin-right:40px;
	}
.pic14{
	width:200px;
	height:300px;
	/**border:1px solid black;**/
	margin-left:40px;
	margin-right:40px;
	}
#pic-container-2{
	width:1151px;
	height:350px;
	border:1px solid black;
	margin-bottom:65px;
	}
#pic-container-3{
	width:1151px;
	height:350px;
	border:1px solid black;
	margin-bottom:65px;
	}
#pic-container-4{
	width:1151px;
	height:350px;
	border:1px solid black;
	margin-bottom:65px;
	}